@model Cart

<div class="">
    @if (Model.Lines.Any())
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(item => item.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("C")
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-toggler-icon"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>